@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Ranchers&display=swap');
body {
  /* background-image: url("/assets/img/Food-background-l.jpg"); */
  background-size: cover;
  background-color: rgb(155, 155, 155);
}

h1 {
  font-family: 'Grandstander', cursive;
  font-style: oblique;
  font-size: 50px;
  font-weight: bold;
  color: rgb(94, 19, 69);
  text-align: center;
}

h4 {
  font-family: 'Grandstander', cursive;
  font-size: 40px;
  font-weight: bold;
  color: rgb(94, 19, 69);
  text-align: center;
}

h2 {
  font-family: 'Grandstander', cursive;
}

.li {
    padding: 5px;
    margin: 5px;
    text-align: left;
    /* background: #faebd7; */
  }
  
  .label {
    font-weight: bold;
  }
  
  div.burger-menu {
    border: 5px;
    text-align: center;
    color: rgb(94, 19, 69);

  }

  img.card-image-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  div.add-burger {
    background-color: rgb(81, 81, 221);
    color: white;
    text-align: center;
  }

  .create-form {
    padding: 5px;
    margin: 5px;
    /* background: aqua; */
  }
  
  .form-group {
    margin-bottom: 5px;
  }

.footer {
  text-align: center;
}  

.footer-text {
  color: rgb(73, 67, 67);
}